<div class="beer-card">
    <img src='{{this.image_url}}' />
    <div class="beer-description">
        <h2>{{this.name}}</h2>
        <p> {{this.description}}</p>
        <p> {{this.tagline}}</p>
    </div>
</div>

<div class="extra-info">
    <h3>Food Pairing: </h3>
    <ul>
        {{#each this.food_pairing}}
        <li> {{this}} </li>
        {{/each}}

    </ul>

    <h3>Bewers Tips: </h3>
    <p> {{this.brewers_tips}}</p>


</div>